.companies {
  padding: 100px 0 100px 0;
}

.companies__subtitle {
  text-align: center;
  margin-bottom: 32px;
}

.companies__items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 991px) {
  .companies {
    padding: 50px 0 50px 0;
  }
  .companies__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (max-width: 540px) {
  .companies__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
  .companies__img {
    margin: 0 auto;
  }
}